.tableCss {
  background: #fff;
  border-radius: 15px;
  margin: 2rem;
  position: relative;
  table-layout: fixed;
  width: 600px;
  box-shadow: 0 5px 10px black, 0 5px 10px black;
  text-align: left;
}